.item-box{
    border: 1px solid #bfbfbf;
    width: 30%;
    padding:10px;
    margin:10px;
}
#item-container{
    display: flex;
    flex-wrap: wrap;
}
#text-container{
    display: inline-flex;
    width: 100%;
}
.sum-con{
    display: inline-flex;
}
.navbar-default{
    border: 0;
    background-color: #f5f5f5;
}
.main-page{
    background-color: #ffffff;
}
.all-page{
    font-family: "Arial";;
}
.left-text{
    width:22%;
}
.right-pics{
    width:75%;
}
.item-pic{
    height:200px;
    overflow: hidden;
}
.item-price{
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.item-price-au{
    font-size:19px;
    padding-left: 20%;
    color: #aa2633;
}
.item-time p{
    margin:0;
}
.item-title{
    font-size: 14px;
    height:13%;
    overflow: hidden;
}
a {
    color: black;
}
.all-page .container .sum-con .left-text .row .col-md-12 .panel-group .panel-heading a:hover{
    color: #666666;
    text-decoration: none;
}
.container .sum-con .left-text .row .col-md-12 .panel-group .panel-heading a:visited{
    color: black;
    text-decoration: #f5f5f5;
}
.pic-position{
    text-align: center;
}
.all-page .container .sum-con .right-pics .row .col-md-12 a:hover{
    color: #666666;
    text-decoration: none;
}
.container .sum-con .right-pics .row .col-md-12 a:visited{
    color: black;
    text-decoration: #fffff;
}
.item-time{
    font-size: 10px;
}