.main-page{
    background-color: #f5f5f5;
    font-family: "Arial";
}
.logo-add{
    background-color: #ffffff;
}
.navbar{
    margin-bottom: 0;
}
.thumbnail{
    min-height: 340px;
    border: 0;
}
.intro{
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
}
.top-1{
    display: inline-block;
}
.six-pics-top{
    margin:20px 0 10px 0;
    display: inline-block;
}
.top-l{
    margin-right: 40px;
}
.top-m{
    margin-left: 40px;
    margin-right: 40px;
}
.top-r{
    margin-left:40px;
}
.top-table td{
    min-width:35px;
}
.back-ground{
    background-color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}
.six-pics,
.on_sale{
    width:1170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
.send_letter_item{
    text-align: center;
    display: inline-block;
    margin-left: 18px;
    margin-right: 18px;
}
.on_sale_item{
    display: inline-block;
    height:310px;
    width:270px;
    background-color: #ffffff;
}
.in-on-sale-pic{
    text-align: center;
}
.in-on-sale{
    margin:15px;
}
.in-on-btn{
    margin-left: 15px;
    margin-top: -15px;
}
.des{
    min-height: 50px;
    max-height: 50px;
}
.intro .slide .carousel-control.right, .home .carousel-control.left {
    background-image: none;
}
.intro .slide .carousel-control.right {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 8px;
}
.intro .slide .carousel-control {
    height: 50px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    width: 45px;
    top: 38%;
    opacity: 1;
}
.navbar-collapse{
    text-align: center;
}
.intro .slide .carousel-control:hover{
    background-color: #556273;
}
.navbar-default .navbar-nav>li>a{
    padding:0px;
    margin:20px 42px 20px 42px;
}
.nav_item a{
    font-size: 18px;
}
.footer-top {
    background-color: #ffffff;
    padding: 4rem 0;
}
.footer-bottom {
    padding: 2rem;
    background-color: #ffffff;
}
.footer-bottom p {
    color: #000000;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 7px;
}
.navbar-default {
    background-color: #f5f5f5;
    border:0;
}
.footer-top h2 {
    font-weight: 300;
    color: #000000;
    font-size: 22px;
    margin-bottom: 10px;
}
.footer-top p {
    color: #000000;
    font-size: 13px;
    font-weight: 100;
}
.heading-border {
    width: 50px;
    height: 1px;
    opacity: 0.5;
    margin-bottom: 30px;
}
.b-color-1 {
    background-color: #aa2633;
}
.footer-top strong {
    color: #000000;
    letter-spacing: 0.5px;
    margin-top: 15px;
    display: block;
    font-size: 16px;
    font-weight: 400;
}
.col-sm-3 p{
    margin:0px;
}
.footer-top .container .row .col-sm-3 .my a{
    color: black;
}
.footer-top .container .row .col-sm-3 .my a:hover{
    color: #515151;
    text-decoration: none;
}
.btn-default{
    color:#777777;
}
.btn-default:hover{
    color:#000000;
}
.btn-default:visited{
    color:#777777;
}
.my:visited{
    color: black;
}
.popular{
    margin-top: 30px;
    margin-bottom: 60px;
}
.t-color-1 {
    color: #aa2633;
}
.most-popular{
    margin-bottom: 30px;
    text-align: center;
}
.col-sm-4{
    padding:0;
}
.categories{
    text-align: center;
}
.single-add{
    margin-left: 5px;
    margin-right: 5px;
}
.emarket-adds{
    margin-bottom: 50px;
}
.top-pic{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.header-search {
    width: 200px;
    height: 35px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
}
.btn2 {
    height: 35px;
    background-color: #f5f5f5;
    border-radius: 18px;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
}
.header-parent {
    position: relative;
}
.header-sea{
    float: right;
}
.qpp-line li{
    border-radius: 5px 5px 0 0;
    flex: 1 1 auto;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    font-size: 1.2vw;
    font-weight: lighter;
    text-align: center;
    position: relative;/*使子元素相对父元素进行绝对定位*/
}
.qpp-line ul li::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;/*靠最左边开始*/
    border-bottom: 2px solid #000000;/*设置底部边颜色*/
    width: 0;/*宽度为0，这里的宽度是相对与li的宽度*/
    height: 100%;/*设置高度使它和li等高*/
}
.qpp-line ul li:hover::before{/*鼠标hover，状态发生改变*/
    width: 100%;
    transition: 0.2s all linear;/*设置过度时间*/
    transition-delay: 0.1s;/*过度延时*/
}
.logo{
    margin-left: 45px;
}
.contact{
    margin-left: 30px;
}
.popular .slide .carousel-control.right, .popular .slide .carousel-control.left {
    background-image: none;
    font-size: 40px;
}
.popular .slide .carousel-control.right {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 8px;
}
.popular .slide .carousel-control {
    height: 50px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    width: 45px;
    top: -70px;
    opacity: 1;
}
.header-sea{
    margin-right: 90px;
}


